<html lang="en">
<head>
    <title>imdhemy</title>
    <link rel="stylesheet" href="./../normalize.css">
    <link rel="stylesheet" href="./../main.css">
</head>
<body>

<div class="page-container">
    <div class="logo-container">
        <p>D</p>
    </div>

    {{ partial "header.html" . }}
    {{ partial "blog/list.html" . }}
</div>

<script>
    let mq = window.matchMedia("(max-width: 700px)")
    mq.addListener(function(e) {
        if(e.matches){
            let sideMenuHolder = document.querySelector('.side-menu-holder')
            sideMenuHolder.classList.add('mobile')
        }
    })
</script>

</body>
</html>