@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;600&display=swap');

:root {
    --primary-color: #D8DEE9;
    --secondary-color: #3B4252;
    --accent-color: #2E3440;
}

p, h1, h2, h3, h4, h5, h6, a, pre, span, div, time {
    font-family: 'Fira Sans', sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    color: var(--accent-color);
}

.side-menu-holder-sm {display: none;}

pre {
    color: var(--primary-color);
    background: var(--secondary-color);
    font-feature-settings: normal;
    text-align: left;
    white-space: pre;
    padding: 2em 1em;
    border-radius: 4px;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    margin-bottom: 0;
}

ul {
    list-style: none;
}

a, a:visited, a:active {
    color: var(--accent-color);
}

.page-container {
    width: 80%;
    margin: auto;
}

.content-wrapper {
    display: flex;
}

/** Side Menu **/

.logo-container {
    background-color: var(--secondary-color);
    margin: 25px;
    margin-right: 0;
    margin-bottom: 75px;
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 2px;
    display: block;
}

.logo-container::before {
    content: '';
    width: 80px;
    height: 80px;
    border-radius: 2px;
    background: var(--accent-color);
    position: absolute;
    left: -7px;
    top: 7px;
    z-index: -1;

}

.logo-container p {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #fff;
    font-size: 35px;
    margin: 0;
}


.side-menu-holder {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.side-menu-holder nav {
    position: sticky;
    top: 100px;
    padding: 2em;
    padding-top: 2px;
    padding-right: 1em;
    border-right: 1px solid #edf2f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: end;
}

.side-menu-holder nav li, .side-menu-holder-sm nav li {
    padding: 10px;
    list-style: none;
}

.side-menu-holder nav li a, .side-menu-holder-sm nav li a {
    border-bottom: 1px solid transparent;
    text-decoration: none;
    color: #555;
    font-weight: 200;
    font-size: 20px;
}

.side-menu-holder nav li a:hover, .side-menu-holder-sm nav li a:hover {
    border-bottom: 1px solid var(--secondary-color);
}

.side-menu-holder nav a.active, .side-menu-holder-sm nav a.active {
    color: var(--accent-color);
    font-weight: 600;
}

/** Main Content **/

.blogs-list-holder {
    display: inline-flex;
    flex-direction: column;
    padding: 0 2em;
}

.blogs-list-holder ul {
    list-style: none;
    margin-top: 4px;
    padding-left: 0;
}

.blogs-list-holder ul li:first-of-type {
    margin-top: 0;
}

.blogs-list-holder ul li {
    padding-left: 0;
    margin: 2em 0;
    border-bottom: 4px solid var(--primary-color);
}

.blogs-list-holder ul li h2 a {
    text-decoration: none;
}

.blogs-list-holder ul li h2, .blog-post-holder h2, .about-holder h2 {
    font-size: 38px;
    margin-bottom: 5px;
    margin-top: 0;
}

.blogs-list-holder ul time, .blog-post-holder time {
    color: #555;
    font-weight: 400;
} 

.blog-post-holder, .about-holder {
    padding: 0 2em;
    padding-bottom: 2em;
    display: inline-flex;
    flex-direction: column;
}

.blog-post-holder span {
    display: inline-block;
}

.blog-post-holder span h5, .blog-post-holder span time {
    margin: auto;
    display: contents;
}

.blog-post-holder p, .about-holder p {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 2;
}

.about-holder img {
    float: right;
    width: 150px;
    height: 150px;
    margin-left: 45px;
    border-radius: 50%;
}

.post-content a {
    color: #0059ff;
}


@media only screen and (max-width: 600px) {
    .page-container {
        width: 90%;
    }
    .content-wrapper{
        display: block;
    }
    .logo-container {
        display: inline-block;
        vertical-align: middle;
        width: 60px;
        height: 60px;
        margin-left: 12px;
    }
    .logo-container::before {
        width: 60px;
        height: 60px;
    }
    .side-menu-holder-sm {
        display: inline-block;
        vertical-align: middle;
    }
    .side-menu-holder-sm nav {
        padding: .5em;
        padding-top: 2px;
        padding-right: .5em;
        display: flex;
        justify-content: center;
        text-align: end;
    }
    .blogs-list-holder, .blog-post-holder, .about-holder {
        padding: 0 .5em;
        display: block;
        margin: 1em auto;
        padding-bottom: 2em;
    }
    pre {
        white-space: pre-wrap;
    }
    .about-holder img {
        float: none;
        clear: both;
        margin: 1em auto;
        display: block;
    }
}

@media only screen and (max-width: 400px) {
    .side-menu-holder-sm nav li a {
        font-size: 15px;
    }
}